<div class="attributs">
  <div class="attribut">
    <span class="attribut-name">{{'Force' | attributName}}</span>
    <span class="attribut-value">
      <app-carac [(carac)]="monstre.parsed.str" [editable]="editable"></app-carac>
    </span>
  </div>
  <div class="attribut">
    <span class="attribut-name">{{'Dextérité' | attributName}}</span>
    <span class="attribut-value">
      <app-carac [(carac)]="monstre.parsed.dex" [editable]="editable"></app-carac>
    </span>
  </div>
  <div class="attribut">
    <span class="attribut-name">{{'Constitution' | attributName}}</span>
    <span class="attribut-value">
      <app-carac [(carac)]="monstre.parsed.con" [editable]="editable"></app-carac>
    </span>
  </div>
  <div class="attribut">
    <span class="attribut-name">{{'Intelligence' | attributName}}</span>
    <span class="attribut-value">
      <app-carac [(carac)]="monstre.parsed.int" [editable]="editable"></app-carac>
    </span>
  </div>
  <div class="attribut">
    <span class="attribut-name">{{'Sagesse' | attributName}}</span>
    <span class="attribut-value">
      <app-carac [(carac)]="monstre.parsed.wis" [editable]="editable"></app-carac>
    </span>
  </div>
  <div class="attribut">
    <span class="attribut-name">{{'Charisme' | attributName}}</span>
    <span class="attribut-value">
      <app-carac [(carac)]="monstre.parsed.cha" [editable]="editable"></app-carac>
    </span>
  </div>
</div>
