<app-page-header title="Création d'un combat" subtitle="C'est l'heue du du-du-du du-du duel !"
                 image="/assets/img/battle-build.jpg">
</app-page-header>

<main [formGroup]="battleBuildForm">
  <section class="battle-name-section" *ngIf="step === 1">
    <p class="prefix-text">Cet affrontement mythique portera le nom...</p>
    <mat-form-field class="battle-name">
      <input matInput formControlName="name" autofocus>
      <mat-error *ngIf="battleName.errors?.required">En manque d'inspiration ? Regardez <a
        href="https://fr.fantasynamegenerators.com/noms-de-batailles.php">par ici</a>...
      </mat-error>
      <button mat-icon-button matSuffix
              [disabled]="battleName.invalid"
              color="accent"
              (click)="step = 2">
        <mat-icon>play_circle_filled</mat-icon>
      </button>
    </mat-form-field>
  </section>
  <section class="monstres-section" *ngIf="step === 2">
    <h2>{{battleName.value}}</h2>
    <p class="prefix-text">... et verra s'affronter les terribles...</p>
    <div class="monstres">
      <mat-card [formGroup]="monstreGroup" *ngFor="let monstreGroup of monstresArray.controls; let i = index"
                class="monstre">
        <app-monstre-card-title [monstre]="monstreGroup.value"></app-monstre-card-title>
        <div>
          <span class="param-name">Nombre : </span>
          <mat-slider formControlName="quantity" min="1" max="10" thumbLabel="true">d</mat-slider>
        </div>
        <div>
          <span class="param-name">PV aléatoire : </span>
          <mat-checkbox formControlName="randomHp"></mat-checkbox>
        </div>
        <div class="expand-button">
          <button mat-icon-button (click)="expandedMonstres[i] = !expandedMonstres[i]">
            <mat-icon *ngIf="!expandedMonstres[i]">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedMonstres[i]">keyboard_arrow_up</mat-icon>
          </button>
        </div>
        <div class="expanded-area" *ngIf="expandedMonstres[i]">
          <app-monstre-attributs [monstre]="monstreGroup.value.monstre"
                                 [editable]="false"></app-monstre-attributs>
          <app-monstre-caracs [preparedMonstre]="monstreGroup.value" [editable]="false" class="caracs">
          </app-monstre-caracs>
        </div>
      </mat-card>
    </div>

    <div class="add-monstre">
      <mat-form-field class="monstre-id">
        <input matInput placeholder="Ajouter un monstre..." formControlName="monstreSearch"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="monstreName">
          <mat-option *ngFor="let monstre of filteredMontres$ | async" [value]="monstre">
            <span>{{monstre.title}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="addMonstre()" [disabled]="!monstreCanBeAdded">
        <mat-icon>add_circle_outline</mat-icon>
        Ajouter
      </button>
    </div>

    <button mat-raised-button color="accent" [disabled]="battleBuildForm.invalid" (click)="submit()">CONTINUER</button>

  </section>
</main>
