<form [formGroup]="battleBuildForm">
  <mat-form-field class="name">
    <input matInput placeholder="Nom du combat" formControlName="name">
  </mat-form-field>

  <div class="monstre" *ngFor="let monstreGroup of monstresArray.controls; let i = index" [formGroup]="monstreGroup">
    <mat-form-field class="monstre-id">
      <input matInput placeholder="ID du monstre" formControlName="monstre" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="monstreName">
        <mat-option *ngFor="let monstre of filteredMontres[i] | async" [value]="monstre">
          <span>{{monstre.title}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="monstre-quantity">
      <input matInput type="number" placeholder="Nombre" formControlName="quantity">
    </mat-form-field>

    <mat-checkbox formControlName="randomHp">PV tirés au dé ?</mat-checkbox>

    <button mat-icon-button (click)="removeMonstre(i)">
      <mat-icon>close</mat-icon>
    </button>


    <div class="monstre-card" *ngIf="monstreGroup.value.monstre as monstre">
      <div *ngIf="monstre.title">
        <ul>
          <li>Nom : {{monstre.title}}</li>
          <li>Type : {{monstre.truetype}}</li>
          <li>Taille : {{monstre.size}}</li>
        </ul>
      </div>
    </div>
  </div>
  <button mat-raised-button (click)="addMonstre()">Add</button>
  <br>
  <button mat-raised-button color="accent" [disabled]="battleBuildForm.invalid" (click)="submit()">Continuer</button>
</form>
