:host {
  min-height:100vh;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}



main {
  min-height: 50vh;

  .battle-name-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .prefix-text {
      font-size: 3rem;
      font-family: "Beyond Wonderland", serif;
    }
  }

  .battle-name {
    font-size: 3rem;
    width: 50%;
    text-align: center;
    font-family: "Marcellus SC", serif;

    margin-bottom: 20px;

    mat-error {
      font-size: 60%;
    }
  }

  .monstres-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      text-align: left;
      margin: 0;
      font-family: "Marcellus SC", serif;
    }

    .prefix-text {
      font-size: 3rem;
      font-family: "Beyond Wonderland", serif;
    }

    .monstres {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-left: 5%;
      margin-right: 5%;

      .monstre {
        width: 350px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;

        .param-name {
          font-weight: 500;
          margin-right: 10px;
        }

        .expand-button {
          text-align: center;
          margin-top: 10px;
        }

        .caracs {
          margin-top: 20px;
        }
      }
    }
  }

  .add-monstre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    .monstre-id {
      font-size: 2rem;
      width: 50%;
      text-align: center;
      font-family: "Marcellus SC", serif;

      margin-top: 20px;
    }

    button {
      font-size: 1rem;
      padding: 5px 10px;
      margin-left: 10px;
    }
  }
}
