<app-page-header [title]="'Prêt pour ' + battle.name + ' ?'"
  subtitle="Si besoin, vous pouvez modifier les valeurs des attributs ici." image="/assets/img/battle-recap.jpg"
  imageAligmentX="center" imageAligmentY="center">
</app-page-header>

<main class="monstres">
  <mat-card *ngFor="let monstre of battle.monstres" class="monstre">
    <app-monstre-card-title [monstre]="monstre"></app-monstre-card-title>
    <mat-card-content>
      <app-monstre-attributs [monstre]="monstre.monstre" class="attributs"></app-monstre-attributs>
      <app-monstre-caracs [preparedMonstre]="monstre" [editable]="true" class="caracs"></app-monstre-caracs>
      <div class="content" *ngIf="getMonstreContent(monstre) as content">
        <div class="capacites" *ngIf="content.capacites">
          <h3 class="title" (click)="hidden.capacties = !hidden.capacties" matRipple>
            <span>Capacités</span>
            <mat-icon *ngIf="hidden.capacties">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!hidden.capacties">keyboard_arrow_up</mat-icon>
          </h3>
          <p [innerHTML]="content.capacites | sanitizeHtml" *ngIf="!hidden.capacties"></p>
        </div>
        <div class="actions" *ngIf="content.actions">
          <h3 class="title" (click)="hidden.actions = !hidden.actions" matRipple>
            <span>Actions</span>
            <mat-icon *ngIf="hidden.actions">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!hidden.actions">keyboard_arrow_up</mat-icon>
          </h3>

          <div *ngIf="!hidden.actions">
            <div *ngFor="let action of content.actions" class="action">
              <div class="action-icon">
                <app-action-icon [type]="action.type" [typeFull]="action.typeFull"></app-action-icon>
              </div>
              <p class="action-info">
                <strong>{{action.name}} : </strong>
                <span *ngIf="action.description" [innerHTML]="action.description | sanitizeHtml"></span>
                <span *ngIf="!action.description">
                  {{action.modificateur}} |
                  {{action.portee}} |
                  {{action.cibles}} <br>
                  Touché : <span [innerHTML]="action.touche | sanitizeHtml"></span>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="actionsLegendaires" *ngIf="content.actionsLegendaires">
          <h3 class="title" (click)="hidden.actionsLegendaires = !hidden.actionsLegendaires" matRipple>
            <span>Actions légendaires</span>
            <mat-icon *ngIf="hidden.actionsLegendaires">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!hidden.actionsLegendaires">keyboard_arrow_up</mat-icon>
          </h3>
          <p [innerHTML]="content.actionsLegendaires | sanitizeHtml" *ngIf="!hidden.actionsLegendaires"></p>
        </div>
        <div class="reactions" *ngIf="content.reactions">
          <h3 class="title" (click)="hidden.reactions= !hidden.reactions" matRipple>
            <span>Réactions</span>
            <mat-icon *ngIf="hidden.reactions">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!hidden.reactions">keyboard_arrow_up</mat-icon>
          </h3>
          <p [innerHTML]="content.reactions | sanitizeHtml" *ngIf="!hidden.reactions"></p>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</main>

<footer>
  <button mat-raised-button (click)="save()" matTooltip="Les modifications ne sont enregistrées que pour ce combat">
    Enregistrer les modifications
  </button>
  <button mat-raised-button color="accent" (click)="go()">GO !</button>
</footer>
