.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .mat-form-field {
      width: 100px;

      input {
        -moz-appearance: textfield;
        text-align: center;
      }
    }


  }
}
